*  {
	box-sizing: border-box;
	/*padding: 0;*/
	/*margin: 0;*/
}

body {
	background: cyan;

}

.top-nav {
	background: red;

}
.navbar{
	display: flex;
	font-size: 25px;
	justify-content: space-between;
	align-items: center;
	/*padding: 5px 20px;*/
	line-height: 40px;
	border: solid;
	/*box-shadow: 1px 10px 5px #888888;*/

}

.brand {
	display: flex;
	text-decoration: none;
	background: yellow;

}
.nav-toggle {
	/*margin-left: auto;*/
	cursor: pointer;
	background: green;
	padding: 5px 0 0 0;

}

.nav-toggle:hover {
	background: blue;
}
.nav-list {
	list-style: none;
	background: gold;
	display: flex;
	justify-content: space-around;
	padding: 5px;
}
.nav-list a{
	text-decoration: none;
	padding: 3px;
}
.nav-list a:hover{
	background: blue;
}
.nav-list-collapse {
	display: none;
}